#tbl-customers{
  tbody tr{
    cursor: pointer;
  }
  tr td,tr th{
    &:first-child{
      width: 75px;
      text-align: center;
    }

    &:last-child{
      width: 50px;
      text-align: center;

      &:hover{
        color: red;
      }
    }
  }
}

#tbl-card{
  padding-bottom: 20px;
  .card-body{
    height: 386px;
    overflow-y: hidden;
  }

}

.selected-row{
  background-color: gray !important;
}
.tooltip-inner{
  max-width: none;
  background-color: red;
}